<!--
  Project Part 2
  File name: add.ejs
  Group 1
  Due: Jul 16, 2023
-->

<!--  EJS template syntax includes the content of the "header.ejs" partial file into this file ---->
<%- include ../partials/header.ejs  %>

<!--  EJS template syntax includes the content of the "main_nav.ejs" partial file into this file ---->
<%- include ../partials/main_nav.ejs %>

<!--  This page includes add surveys section ---->

<!-- main ---->
<main class="surveys-container">
    <h1 id="add-h1"><%= title %></h1>
    <!-- add contact information ---->
    <div class="row" id="add-form">
        <div class="offset-md-3 col-md-6">
            <form class="form" method="POST">
                <div class="form-group">
                    <!-- add name---->
                    <label for="nameTextField">User</label>
                    <input type="text" class="form-control"
                    id="nameTextField" 
                    placeholder="Enter your name"
                    name="name" required></input>
                </div>
                <!-- add phone---->
                <div class="form-group">
                    <label for="phoneTextField">Phone</label>
                    <input type="text" class="form-control"
                    id="phoneTextField" 
                    placeholder="Enter your phone number "
                    name="phone" required></input>
                </div>
                <!-- add survey name---->
                <div class="form-group">
                    <label for="surveyNameTextField">Survey Name</label>
                    <input type="text" class="form-control"
                    id="surveyNameTextField" 
                    placeholder="Enter Survey Name"
                    name="surveyName" required></input>
                </div>

                <!-- add email---->
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField" 
                    placeholder="Enter your email address"
                    name="email" required></input>
                </div>
                <br>
            </div>
            <!-- add questions---->
            <div class="questions">
                <div class="form-group">
                    <label for="q1TextField">Question 1</label>
                    <input type="text" class="form-control" id="q1TextField" placeholder="Add your question" name="q1" >
                    <label for="a1TextField">Options</label>
                    <input type="text" class="form-control" id="a1Option1TextField" placeholder="Option 1" name="a1Option1" >
                    <input type="text" class="form-control" id="a1Option2TextField" placeholder="Option 2" name="a1Option2">
                </div>
                <br>
                <div class="form-group">
                    <label for="q2TextField">Question 2</label>
                    <input type="text" class="form-control" id="q2TextField" placeholder="Add your question" name="q2" >
                    <label for="a2TextField">Options</label>
                    <input type="text" class="form-control" id="a2Option1TextField" placeholder="Option 1" name="a2Option1" >
                    <input type="text" class="form-control" id="a2Option2TextField" placeholder="Option 2" name="a2Option2">
                </div>
                <br>
                <div class="form-group">
                    <label for="q3TextField">Question 3</label>
                    <input type="text" class="form-control" id="q3TextField" placeholder="Add your question" name="q3">
                    <label for="a3TextField">Options</label>
                    <input type="text" class="form-control" id="a3Option1TextField" placeholder="Option 1" name="a3Option1" >
                    <input type="text" class="form-control" id="a3Option2TextField" placeholder="Option 2" name="a3Option2">
                </div>
                <br>
                <div class="form-group">
                    <label for="q4TextField">Question 4</label>
                    <input type="text" class="form-control" id="q4TextField" placeholder="Add your question" name="q4" >
                    <label for="a4TextField">Options</label>
                    <input type="text" class="form-control" id="a4Option1TextField" placeholder="Option 1" name="a4Option1" >
                    <input type="text" class="form-control" id="a4Option2TextField" placeholder="Option 2" name="a4Option2">
                </div>
                <br>
                <div class="form-group">
                    <label for="q5TextField">Question 5</label>
                    <input type="text" class="form-control" id="q5TextField" placeholder="Add your question" name="q5" >
                    <label for="a5TextField">Options</label>
                    <input type="text" class="form-control" id="a5Option1TextField" placeholder="Option 1" name="a5Option1" >
                    <input type="text" class="form-control" id="a5Option2TextField" placeholder="Option 2" name="a5Option2">
                </div>
                <br>
                <!-- submit and cancel buttons---->
                <button class="btn btn primary" type="submit" id="submit-btn">
                    <i class="fas fa-edit"></i>
                    Submit
                </button>
                <a href="/surveys-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>
                    Cancel
                </a>
            </form>
        </div>
    </div>
</main>

<!--  EJS template syntax includes the content of the "bottom_nav.ejs" partial file into this file ---->
<%- include ../partials/bottom_nav.ejs %>

<!--  EJS template syntax includes the content of the "footer.ejs" partial file into this file ---->
<%- include ../partials/footer.ejs %>
